<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta name="ROBOTS" content="NOINDEX, NOFOLLOW" />
        <meta http-equiv="Content-Location" content="/catalogs/{{.Product}}" />
        <link type="text/css" rel="stylesheet" href="/static/global.css" />
        <title>Catalog Locales Listing</title>
    </head>

    <body class="catalogLocales">
        <div class="details">
            <a class="catalog-link" href="/catalogs">Catalogs</a>
        </div>
        <div class="catalog-locale-list">Locales available:
            {{- range .Locales}}
            <div class="catalog-locale">
                <span class="locale">{{.Locale}}</span>
                <span class="catalog-name">{{.Product}}</span>
                <span class="description" />
                <a class="locale-link" href="/catalogs/{{.Product}}/{{.Locale}}">{{.Product}}</a>
            </div>
            {{- end }}
        </div>
    </body>
</html>