<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta name="ROBOTS" content="NOINDEX, NOFOLLOW" />
        <meta http-equiv="Content-Location" content="http://{{.Host}}/catalogs/{{.Product}}/{{.Locale}}" />
        <link type="text/css" rel="stylesheet" href="http://{{.Host}}/static/catalog.css" />
        <title>All Book Listings</title>
    </head>
    <body class="book-list">
        <div class="details">
            <a class="catalog-locale-link" href="http://{{.Host}}/catalogs/{{.Product}}">Catalog locales</a>
        </div>
        <div class="book-groups">{{- range .ContentRoot.Books }}
            <div class="book-group">
                <span class="id">BOOK-{{.ID}}</span>
                <span class="name">{{.Title}}</span>
                <span class="vendor">Atmel</span>
                <div class="book">
                    <span class="id">{{.ID}}</span>
                    <span class="locale">{{.Language}}</span>
                    <span class="name">{{.Title}}</span>
                    <span class="description">{{.Description}}</span>
                    <span class="BrandingPackageName">{{$.ContentRoot.BrandingPackage}}</span>
                    <div class="properties">Paths:
                        <div class="paths">{{$product := .Product $.Product}}{{- range $product.Paths}}
                            <div class="path">
                                <span class="languages">{{$.Locale}}</span>
                                <span class="membership">full</span>
                                <span class="name">{{.Path}}</span>
                                <span class="priority">{{.Priority}}</span>
                                <span class="skuId">{{$product.SkuID}}</span>
                                <span class="skuName">{{$product.SkuName}}</span>
                            </div>{{- end }}
                        </div>
                    </div>
                    <div class="packages">The following packages are available in this book:
                        <div class="package">
                            <span class="packageType">content</span>
                            <span class="packageFormat">v2.0</span>
                            <span class="name">{{.ID}}-{{.Language}}-{{.Version}}</span>
                            <a class="current-link" href="http://{{$.Host}}/cab/{{.ID}}-{{.Language}}-{{.Version}}.cab">{{.ID}}-{{.Language}}-{{.Version}}.cab</a>
                            <span class="deployed">true</span>
                            <span class="last-modified">{{.Timestamp}}</span>
                            <span class="package-etag">{{.CabMD5}}</span>
                            <span class="package-size-bytes">{{.CompressedSize}}</span>
                            <span class="package-size-bytes-uncompressed">{{.RawSize}}</span>
                        </div>
                        <div class="package">
                            <span class="packageType">branding</span>
                            <span class="packageFormat">v2.0</span>
                            <span class="name">{{$.ContentRoot.BrandingPackage}}</span>
                            <a class="current-link" href="http://{{$.Host}}/content/branding/{{$.ContentRoot.BrandingPackage}}.cab">{{$.ContentRoot.BrandingPackage}}.cab</a>
                            <span class="deployed">true</span>
                            <span class="last-modified">{{$.ContentRoot.BrandingPackageTimestamp}}</span>
                            <span class="package-etag">{{$.ContentRoot.BrandingPackageMD5}}</span>
                            <span class="package-size-bytes">{{$.ContentRoot.BrandingPackageCompressedSize}}</span>
                            <span class="package-size-bytes-uncompressed">{{$.ContentRoot.BrandingPackageRawSize}}</span>
                        </div>
                    </div>
                </div>
            </div>{{- end }}
        </div>
    </body>
</html>